<!doctype html>
<html lang="en">
  <head>
 
    <%-  include('headtag.ejs') %>
  </head>
  <body class="w-full justify-self-center flex flex-col">
    <%- include('pvtheader.ejs') %>

    <div class="w-full flex justify-center">
      <div class="w-5/6 p-1">
       
        <div class="border rounded-lg m-2 drop-shadow-lg flex  justify-between items-center p-10 justify-self-center">
         <div>
          <h2 class=" "> <b><%= chapter.chapterName %></b></h2>
         <span><%= chapter.chapterDescription %></span>
         </div>
       
        </div>
        

        <h2 class="text-xl text-center font-bold">Add Page</h2>

<form class=" w-full px-10">
    <div class="mb-5">
      <label for="title" class="block mb-2 text-sm font-medium text-black-900 ">Title</label>
      <input type="text" id="title" class="shadow-sm bg-white-50 border border-white-300 text-black-900 text-normal rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="Title" required>
    </div>
    <div class="mb-5">
        <label for="content" class="block mb-2 text-sm font-medium text-black-900 ">Content</label>
      <input type="textarea" id="content" name="content" class="shadow-sm bg-white-50 border border-white-300 text-black-900 text-normal rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" rows='10' placeholder="Content" required/>
    </div>
    
    <button type="submit" class="mt-5 text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Save</button>
  </form>
  
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
   
    <script type="text/javascript">

        CKEDITOR.replace("content")
    </script>
  </body>
</html>
