<div class="p-2">

   <a href="/">
    <h1 style="padding: 20px;"  class="heading container text-center bg-success bg-gradient border border-0 rounded-5 text-white"> LearnEase : Learning Management System </h1>

   </a>
</div>