<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnEase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container w-50 p-3  justify-content-center  text-justify">
        <div class="">
            <h2><b>Welcome to LearnEase !</b></h2>
            <ul>
            <li>
                LearnEase is an innovative and comprehensive Learning Management System (LMS) built on the robust foundation of Node.js, offering a dynamic and user-friendly platform for learners and educators alike.
            </li>
            <li>
                With LearnEase, dive into a world of seamless education delivery, empowering instructors to create engaging courses, upload resources, manage assessments, and interact with students efficiently.
            </li>
            <li>
                Students benefit from an intuitive interface, accessing a variety of courses, assignments, quizzes, and educational materials with ease. Our platform fosters collaboration, discussion, and knowledge sharing among learners.
            </li>
            <li>
                Features include personalized dashboards, progress tracking, multimedia support, and a flexible learning environment adaptable to various subjects and learning styles.
            </li>
            <li>
                Join LearnEase today to revolutionize the way you learn and teach. Experience education made simpler, more engaging, and accessible for everyone.
            </li></ul>
            
            <h5 class="m-2">
                Dont have an account? <strong><a href="/signup" class="text-success">Create one now!</a></strong>
            </h5>
            <h5 class="m-2">
               Already have an account?<strong> <a href="/login" class="text-success">Sign in !!</a></strong>
            </h5>
            <div  style="margin-top: 50px;" class="text-center">
                <h4>Made with ❤️ by <b>Gautam Bhagat</b></h4>
            </div>
           
        </div>
    </div>
</body>
</html>